
<html>

<head>

    <title>About Us</title>
    <!link rel="stylesheet" href="style.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css'%}">


</head>

<body>
    {% block content %}
    {% endblock %}
    <div class="container">
        <center>
            <h1>About Us</h1>
            <div class="img">

            </div>
            <p>

                ABC was established in 1996 as a private university under the Private University act 1992, with a vision to enhance the opportunities for higher education in Bangladesh. The curriculum of ABC has been approved by University Grants Commission (UGC) of
                the GoB. The University started its operation in 1996 and offered four years bachelor degree programs in Computer Science and Engineering and Business Administration. At present it offers undergraduate programs in nine disciplines and
                graduate programs in eight disciplines.
            </p>
            <button class="btn">Read more</button>
        </center>
    </div>

</body>

</html>
